<section class="bg-white dark:bg-gray-800 py-5 px-5">
    <div class="container mx-auto flex flex-col sm:flex-row items-center">
        <div class="w-full sm:w-1/2 text-center sm:text-left">
            <h1 class="text-7xl font-bold text-gray-800 dark:text-white">
                Sanoj C R
            </h1>
            <p class="mt-4 text-3xl text-gray-600 dark:text-gray-300">
                Senior Dotnet Full Stack Developer and <br> Content Creator
            </p>
            <div class="mt-12">
                <a href="javascript:void(0)" class="px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700">
                    Hire Me
                </a>
            </div>
        </div>
        <div class="w-full sm:w-1/2 mt-8 sm:mt-0">
            <img src="assets/images/Its-you-banner-logo.png" alt="Banner Image" class="w-full rounded-lg">
        </div>
    </div>
    <section class="dark:bg-gray-400 bg-gray-100 py-5 px-5 dark:bg-gray-700 shadow-lg rounded-full">
        <div class="container mx-auto text-center px-5">
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
                <div class="flex justify-center">
                    <img src="assets/icons/angular-logo.svg" alt="Logo 1"
                        class="transform hover:scale-110 transition duration-300 transition duration-300 ease-in-out filter grayscale hover:grayscale-0">
                </div>
                <div class="flex justify-center">
                    <img src="assets/icons/dotnet-logo.svg" alt="Logo 2"
                        class="transform hover:scale-110 transition duration-300 transition duration-300 ease-in-out filter grayscale hover:grayscale-0">
                </div>
                <div class="flex justify-center">
                    <img src="assets/icons/sqlserver-logo.svg" alt="Logo 3"
                        class="transform hover:scale-110 transition duration-300 transition duration-300 ease-in-out filter grayscale hover:grayscale-0">
                </div>
                <div class="flex justify-center">
                    <img src="assets/icons/azure-logo.svg" alt="Logo 4"
                        class="transform hover:scale-110 transition duration-300 transition duration-300 ease-in-out filter grayscale hover:grayscale-0">
                </div>
            </div>
        </div>
    </section>

</section>
