<div class="max-w-7xl mx-auto py-12 px-5 sm:px-6 lg:px-8">
    <h2 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white mb-4">Latest Works</h2>
    <p class="text-lg mb-6 text-gray-600 dark:text-gray-400">These are few of my latest works. If you are looking at blank cassettes on the web, you may be very confused</p>
    <div class="grid gap-10 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        <div *ngFor="let repo of repos" class="group relative overflow-hidden rounded-lg shadow-lg">
            <img class="w-full h-96 object-cover transition-transform duration-300 transform group-hover:scale-110"
                src="{{'https://repository-images.githubusercontent.com/' + repo.id + '/' + reqIds[repo.id]  }}"
                alt="{{'Blog Image '+ repo.name}}">
            <div
                class="absolute inset-0 bg-gray-700 bg-opacity-90 p-6 flex flex-col justify-end transition-opacity duration-300 group-hover:bg-opacity-80">
                <p class="text-sm text-gray-200">{{repo.created_at| date: 'MMMM d, y'}}</p>
                <h3 class="text-2xl font-semibold text-white mt-2">{{repo.name | replaceCharacters: '-' : ' ' }}</h3>
                <p class="mt-2 text-gray-300">{{repo.description | slice: 0:85}}...</p>
                <div class="mt-6 flex items-center">
                    <img class="w-10 h-10 rounded-full" [src]="repo.owner.avatar_url" alt="{{repo.name}} Avatar">
                    <div class="ml-3">
                        <p class="text-sm font-medium text-gray-100">Sanoj C R</p>
                        <p class="text-xs text-gray-200">
                            Senior .Net Full Stack Developer
                            </p>
                    </div>
                </div>
                <a href="{{repo.html_url}}" class="inline-block mt-4 text-blue-400 hover:text-white transition">Read
                    more</a>
            </div>
        </div>
    </div>
</div>