<section class="py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-right mb-8">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white mb-4">Job History</h2>
            <p class="text-lg mb-6 text-gray-600 dark:text-gray-400">If you are looking at blank cassettes on the web,
                you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        </div>

        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
            <div class="bg-gray-100 dark:bg-gray-600 rounded-lg overflow-hidden hover:bg-gray-200 dark:hover:bg-gray-500">
                <div class="p-6">
                    <div class="text-xs text-gray-500 dark:text-gray-300">Mar 08, 2023 - Present</div>
                    <h3 class="mt-4 text-xl font-semibold text-gray-900 mt-1 dark:text-white">SLK Software, Bangalore</h3>
                    <div class="text-sm text-indigo-600 dark:text-indigo-300 ">Senior Software Engineer</div>
                    <p class="text-xs italic text-indigo-600 dark:text-indigo-300 ">.Net Full Stack</p>

                    <p class="mt-2 text-gray-600 dark:text-gray-300">
                        Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid
                        explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto
                        corrupti dicta.
                    </p>
                </div>
            </div>
            <div class="bg-gray-100 dark:bg-gray-600 rounded-lg overflow-hidden hover:bg-gray-200 dark:hover:bg-gray-500">
                <div class="p-6">
                    <div class="text-xs text-gray-500 dark:text-gray-300">Aug 17, 2020 - Mar 03, 2023</div>
                    <h3 class="mt-4 text-xl font-semibold text-gray-900 mt-1 dark:text-white">Edify Technologies India Pvt
                        Ltd., Chennai</h3>
                    <div class="text-sm text-indigo-600 dark:text-indigo-300 ">Programmer Analyst</div>
                    <p class="text-xs italic text-indigo-600 dark:text-indigo-300 ">.Net Full Stack</p>

                    <p class="mt-2 text-gray-600 dark:text-gray-300">
                        Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid
                        explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto
                        corrupti dicta.
                    </p>
                </div>
            </div>
            <div class="bg-gray-100 dark:bg-gray-600 rounded-lg overflow-hidden hover:bg-gray-200 dark:hover:bg-gray-500">
                <div class="p-6">
                    <div class="text-xs text-gray-500 dark:text-gray-300">Feb 04, 2020 - Jul 03, 2020</div>
                    <h3 class="mt-4 text-xl font-semibold text-gray-900 mt-1 dark:text-white">Capgemini, Bengaluru</h3>
                    <div class="text-sm text-indigo-600 dark:text-indigo-300 ">Trainee</div>
                    <p class="text-xs italic text-indigo-600 dark:text-indigo-300 ">.Net Full Stack</p>

                    <p class="mt-2 text-gray-600 dark:text-gray-300">
                        Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid
                        explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto
                        corrupti dicta.
                    </p>
                </div>
            </div>
        </div>

        
        
    </div>
</section>