<!-- 
<div>
    <h1>{{ 'HELLO' | translate }}</h1>
    <p>{{ 'WELCOME' | translate }}</p>
</div> -->
<header class="z-50">
    <nav class="flex justify-center p-6 px-8" aria-label="Global">
        <div class="flex gap-x-12 grid grid-cols-2 text-center sm:sm:grid-cols-8">
            <a href="javascript:void(0)" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Me</a>
            <a href="javascript:void(0)" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">About</a>
            <a href="javascript:void(0)" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Work</a>
            <a href="javascript:void(0)" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">History</a>
            <a href="javascript:void(0)" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Stack</a>
            <a href="javascript:void(0)" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Awards</a>
            <a href="javascript:void(0)" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Contact</a>
            <a href="javascript:void(0)" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Social</a>
        </div>
    </nav>
</header>