/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.active-nav {
    background-color: #f3f4f6;
    color: #1f2937;
    svg {
        color: #1f2937;
    }
}

.dark .active-nav {
    background-color: #374151 !important;
    color: #ffffff !important;
    svg {
        color: #ffffff;
    }
}
