.its-you.nav-menu {
    transform: rotate(-90deg);
    padding-top: 2rem;
    padding-bottom: 2rem;

    .nav-item {
        margin-left: -33px;
    }
}

.its-you.side-bar {
    overflow-x: hidden;
}

.its-you.mt-30 {
    margin-top: 30px;
}

.its-you.m-auto {
    margin: auto;
}

@media (min-width: 640px) {
    .sm\:ml-64 {
        margin-left: 4.5rem;
    }
}

.its-you.pb-3rem {
    padding-bottom: 3rem;
}

.its-you.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 1rem;
    color: #1f2937;

    span {
        padding: 5px;
        border: 4px solid #1f2937;
    }
}