<section class="container mx-auto px-5 py-12">
    <div class="text-center">
        <h2 class="text-4xl font-bold text-gray-900 dark:text-white mb-4">About Myself</h2>
        <p class="text-lg text-gray-600 dark:text-gray-400">Results-driven .NET Full Stack Software Developer with 4
            years of experience in designing and implementing robust software solutions.
            <br>
            Proficient in a wide range of technologies including Angular, Blazor, TypeScript, .NET Core Web API, ASP.NET
            MVC, and ASP.NET Web API.
            <br>
            Adept in leveraging ADO.NET, C# Entity Framework, SQL Server, T-SQL, LINQ, and Dapper for efficient data
            management and integration.
            <br>
            Skilled in modern web development practices using PWA, Bootstrap, and containerization technologies such as
            Docker and Kubernetes.
            <br>
            Experienced in deploying and managing applications on Azure.
            <br>
            Adept at leveraging a solid technical background and problem-solving skills to drive innovation and
            efficiency.
            <br>
            Demonstrates a strong ability to deliver high-quality software solutions, meet project deadlines, and
            collaborate effectively with cross-functional teams.
        </p>
    </div>
    <div class="text-center mt-12">
        <a href="javascript:void(0)" (click)="resume()"
            class="bg-indigo-600 hover:bg-indigo-700 text-white px-8 py-3 rounded-lg">Resume</a>
    </div>
</section>