<section class="container mx-auto px-5 py-12">
    <div class="text-center">
        <h1 class="text-4xl font-bold text-gray-900 dark:text-white mb-4">About Myself</h1>
        <p class="text-lg text-gray-600 dark:text-gray-400">inappropriate behavior is often laughed off as “boys will be
            boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as
            women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed. inappropriate
            behavior is often laughed off as “boys will be boys,” women face higher.

            That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior
            is often laughed</p>
    </div>
    <div class="text-center mt-12">
        <a href="javascript:void(0)" class="bg-indigo-600 hover:bg-indigo-700 text-white px-8 py-3 rounded-lg">Resume</a>
    </div>
</section>